{
  "zip" : "10230",
  "country" : "ID",
  "city" : "Jakarta",
  "last_name" : "tjahjadi",
  "industry" : "Ticket and travel",
  "eula" : "yes",
  "title" : "Data Engineer",
  "phone" : "08041500878",
  "company" : "tiket.com",
  "state" : "DKI",
  "department" : "Tech",
  "first_name" : "Maria",
  "email" : "maria.tjahjadi@tiket.com"
}
